@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #f6f5f7; 
    font-family: 'Montserrat', sans-serif;
    color: #053B50;
    width: 100%;
    overflow: scroll;
    height: fit-content;
    display: flex;
    flex-direction: column;

}

.input {
	width: 70%;
    padding: 12px 15px;
    border-color: #176B87;
    background-color: #ffffff;
    border-radius: 5px;
}

.titulo1{
    color: #053B50;
}

.titulo2{
    color: white;
}

#contenedor{
    width: 80%;
    height: 90%;
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: row;
}

.contenido{
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 40px;
    width: 33%;
}

.info{
    background-color: #64CCC5;
    display: flex;
    flex-direction: column; 
    padding: 5%;
}

.calculadora{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column; 
    padding: 5%;
    align-items: center;
}

button {
    font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #176B87;
	border: 1px solid #135c75;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
    margin-top: 50px;
}

button:active {
	transform: scale(0.95);
}

#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #053B50;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}

.item{
    color: #053B50;
    text-align: left;
    word-wrap: break-word;
    margin: auto;
}

@media screen and (max-width: 1200px){
    #contenedor{
        width: 80%;
        height:fit-content;
        text-align: center;
        inset: 0;
        margin: auto;
        border-radius: 10px;
        overflow: hidden; 
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
        display: flex;
        flex-direction: column;
        align-items: center;
        word-wrap: break-word;
        float:none;
        position: absolute;
        margin: 40px auto;
    }

    .contenido{
        display: flex;
        padding: 60px;
        width: 90%;
        height: 33%;
        word-wrap: break-word;
        height:fit-content;
        position: relative;
    }
}